@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CarpetPlannerB2c.Models.CarpetSelectionViewModel
@{
    ViewData["Title"] = "Carpet selection";
}


@section Styles
{

    <link rel="stylesheet" href="~/css/carpet-selection.css"/>
}

@section Scripts {
    <script type="text/javascript" src="~/js/carpet-selection.js"></script>
}

<input type="hidden" id="username" value="@Model.Username"/>

<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>Valitse matto</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <button type="button" id="new-carpet" class="btn btn-primary">Luo uusi matto</button>
        </div>
        <div class="col-6">
            <a type="button" id="user-selection" href="/" class="btn btn-secondary">Valitse käyttäjä</a>
        </div>
    </div>

    <div class="row">
        @foreach (var carpet in Model.Carpets)
        {
            <div class="col-12 col-sm-3">
                <a class="btn btn-info" asp-area="" asp-controller="User" asp-action="GetCarpet" asp-route-username="@carpet.Username" asp-route-id="@carpet.Id">@carpet.Name</a>
            </div>
        }
    </div>

</div>
