@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CarpetPlannerB2c.Models.UserSelectionViewModel
@{
    ViewData["Title"] = "User selection";
}

@section Styles
{

    <link rel="stylesheet" href="~/css/user-selection.css"/>
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Valitse käyttäjä</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="/" class="btn btn-primary">Omat matot</a>
        </div>
    </div>

    <div class="row">
        @foreach (var alias in Model.Aliases)
        {
            <div class="col-12 col-sm-3">
                <a class="btn btn-info" asp-area="" asp-controller="User" asp-action="GetUserCarpets" asp-route-alias="@alias">@alias</a>
            </div>
        }
    </div>

</div>
