@model CarpetSelectionViewModel
@{
    ViewData["Title"] = "Carpet selection";
}


@section Styles
{

    <link rel="stylesheet" href="~/css/carpet-selection.css"/>
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Select carpet</h1>
        </div>
    </div>

    <div class="row">
        @foreach (var carpet in Model.Carpets)
        {
            <div class="col-12 col-sm-3">
                <a class="btn btn-info" asp-area="" asp-controller="User" asp-action="GetCarpet" asp-route-username="@carpet.Username" asp-route-id="@carpet.Id">@carpet.Name</a>
            </div>
        }
    </div>

</div>